# Exemplo de arquivo .env para configuração do projeto
PORT=3000
CLUSTERS=1
NGINX_PORT=9999
DB=db_api
DB_USER=db_user
DB_PASS=db_pass
DB_HOST=db
DB_PORT=5432
PGADMIN_EMAIL=admin@bemaventurada.com
PGADMIN_PASSWORD=admin123
